---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <p>
      <i>Welcome to the Neural Interfacing Lab in the Department for Neurosurgery at Maastricht University. We are a multidisciplinary team investigating closed-loop neural interfaces though the application of
          advanced Machine Learning.

        <span style="display: block; margin-bottom: 3em"></span>
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last few months.</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 63072000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>



      <span style="display: block; margin-bottom: 3em"></span>
      Neural Interfacing Lab<br>
      Department for Neurosurgery<br>
      Maastricht University<br>
      Universiteisingel 50, 6229 ER Maastricht, The Netherlands
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
